body {
  min-height: 100vh;
}
.CharacterDisplay {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  min-height: 100vh;
  min-width: 320px;
  max-width: 500px;
  width: 70%;
  margin: 0 auto;
  padding: 20px 0;
}
.CharacterDisplay > .character {
  margin-bottom: 10px;
}
